body{
    background-image: url("https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=655&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    margin-top: 5rem;
    padding: 3rem 0;
}

#header{
    text-align: center;
}

form{
    margin-top: 2rem;
}

hr{
    border: 10px slategray;
    border-radius: 2px;
}

input{
    margin-bottom: 0.3rem;
}

.btn{
    margin-top: 0.7rem;
    text-align: center;
}
