body{
    background-image: linear-gradient(to right, #30e3ca, #35fce1);
    color: #f5f5f5;
    text-shadow: 1px 1px #40514e;
}

.container{
    margin-top: 5rem;
    padding: 3rem 0;
}

#header{
    text-align: center;
}

form{
    margin-top: 2rem;
}

hr{
    border: 10px slategray;
    border-radius: 2px;
}

input{
    margin-bottom: 0.3rem;
}

.btn{
    margin-top: 0.7rem;
    text-align: center;
    background-color: #40514e;
    color: #f5f5f5;
    border: #f5f5f5;
}

.btn:hover{
    background-color: #f5f5f5;
    color: #40514e;
}
